body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}
/* --------------------------------Navbar------------------------------------ */
.navbar {
    background-color: rgba(0, 0, 0, 0.753);
}
.navbar a {
    color: #fff;
}
.navbar a:hover {
    color: rgb(112, 119, 79);
}
.navbar-brand {
    width: 150px;
}
/* --------------------------------Home------------------------------------ */
.home-content {
    background-image: url(../images/drew-coffman-1872.jpg);
    /* background-size: 100%; */
    background-position: center center;
    height: 100vh;
}
header h1 {
    font-size: 5rem;
}
.btn-1 {
    background-color: rgb(112, 119, 79);
    transition: all 0.5s;
}
.btn-1:hover {
    background-color: #fff;
    color: #000!important;
}
.btn-2:hover {
    background-color: #fff;
    color: #000!important;
}
/* --------------------------------About------------------------------------ */
.icon {
    color: rgb(112, 119, 79);
}
/* --------------------------------ouroffer------------------------------------ */
#ouroffer {
    background-color: rgb(243, 232, 232);
}
/* --------------------------------blog------------------------------------ */
#blog {
    background-color: rgb(243, 232, 232);
}
/* --------------------------------contact------------------------------------ */
.contact-icon {
    color: #fff;
    background-color: rgb(112, 119, 79);
}
/* --------------------------------Footer------------------------------------ */
.footer-contact {
    background-color: #403d38;
}
.footer-logo {
    background-color: #34332f;
}
.footer-icons {
    width: 150px;
}
.footer-icons i:hover {
    color: #fff!important;
    cursor: pointer;
}